body{
    background-image: url('/ProjecteFinal/img/background0.jpg');
}

.navbar {
    background-color: rgba(247, 215, 5, 1);
}

footer{
    height: 5vh; 
}

#badNote{
    background-color: rgba(245, 39, 39, 0.9); 
    padding: 1rem;
}
#goodNote{
    background-color: rgba(252, 252, 96, 0.9); 
    padding: 1rem;
}

.infoProd{
    color: rgb(0, 0, 0); 
    margin-top: 4px; 
    margin-right: 10px;
}

#h{
    margin-top: -5px;
    height:40px;
    padding: none;
    width:.5vw;
    border-width:0;
    color:#000;
    background-color:#000;
}



/* #placeDiv{
    width: 530px;
} */


.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #000000; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	/* background-color: #000000c3; Color de fondo */
	background-color: #ffffffe2;
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 20px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:active {
	/* background-color: #ffffffae; Color de fondo al pasar el cursor */
	background-color: #000000c3;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(7px);
	color: rgb(255, 255, 255);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}

@media screen and (min-width: 1160px){
    .wrapper {
        /* margin-top: 10vh; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-auto-rows: 200px; */
    }
}

@media screen and (max-width: 1160px){
    .wrapper {
        /* margin-top: 10vh; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-auto-rows: 200px; */
    }
}

@media screen and (max-width: 900px){
    .wrapper {
        /* margin-top: 10vh; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-auto-rows: 200px; */
    }
}

@media screen and (max-width: 600px){
    .wrapper {
        /* margin-top: 10vh; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-auto-rows: 200px; */
    }
}